.container {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
    margin: 0 auto;
  }
  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
  }
}
