.feedback__title{
    margin: 0;
    margin-bottom: 30px;

    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 26px;
}

.feedback__desc{
    margin: 0;

    font-size: 14px;
    text-align: center;
}