.form {
  margin-top: 22px;
  margin-bottom: 80px;
  padding: 0 20px;

  @media(min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 84px;
    margin-bottom: 97px;
    padding: 0 60px;

  }

  @media(min-width: $desktop-width) {
    margin-top: 69px;
    padding: 0 120px;
  }
}

.form fieldset {
  margin: 0;
  padding: 0;

  border: none;

  @media(max-width: $mobile-width-only) {
    &:first-child::before {
      content: "";
      position: absolute;
      left: 0;

      display: block;
      width: 100%;
      height: 1px;

      background-color: #e5e5e5;
    }


    &::after {
      content: "";
      position: absolute;
      left: 0;

      display: block;
      width: 100%;
      height: 1px;

      background-color: #e5e5e5;
    }

    &:nth-child(5)::after {
      display: none;
    }
  }
}

.form__title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 22px;

  font-size: 18px;
  font-weight: 700;
  text-align: center;

  @media(min-width: $tablet-width) {
    font-size: 21px;
  }
}

.form__label {
  margin-right: 10px;

  font-size: 14px;
}

.form__label--contacts {
  display: block;
  padding-left: 20px;
  margin-bottom: 15px;
}

.form__input {
  width: 100%;
  height: 58px;
  margin-bottom: 20px;
  padding-left: 22px;
  box-sizing: border-box;

  font-size: 18px;
  font-weight: 700;

  background-color: #f2f3f3;
  border: none;

  &::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
  }

  &:hover {
    background-color: #e6e6e6;
    border: none;
  }

  &:active {
    background-color: #ffffff;
    border: solid 3px #e6e6e6;
  }
}

.form__user {

  @media(min-width: $tablet-width) {
    width: 50%;

    & h2 {
      padding-left: 60px;

      text-align: left;
    }
  }

  @media(min-width: $desktop-width) {
    & h2 {
      margin-bottom: 60px;
    }
  }
}

.form__contacts {
  @media(min-width: $tablet-width) {
    width: 100%;

    & h2 {
      position: relative;

      margin-top: 30px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 35px;

        display: block;
        width: 130px;
        height: 1px;

        background-color: #e5e5e5;
      }

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 35px;

        display: block;
        width: 130px;
        height: 1px;

        background-color: #e5e5e5;
      }
    }
  }

  @media (min-width: $desktop-width) {
    & h2 {
      &::after {
        width: 230px;
      }

      &::before {
        width: 230px;
      }
    }
  }
}

.form__contacts-wrap {
  @media(min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__impressions {
  @media(min-width: $tablet-width) {
    position: relative;

    width: 50%;
    order: -1;

    & h2 {
      text-align: left;
    }

    &::after {
      content: "";

      position: absolute;
      top: 25px;
      right: 0;

      display: block;
      width: 1px;
      height: 290px;

      background-color: #dcdcdc;
    }
  }

  @media(min-width: $desktop-width) {
    & h2 {
      padding-left: 75px;
      margin-bottom: 60px;
    }
  }
}

.form__emotions {
  @media(min-width: $tablet-width) {
    width: 100%;

    & h2 {
      position: relative;

      margin-top: 30px;
      margin-bottom: 60px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 35px;

        display: block;
        width: 130px;
        height: 1px;

        background-color: #e5e5e5;
      }

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 35px;

        display: block;
        width: 130px;
        height: 1px;

        background-color: #e5e5e5;
      }
    }
  }

  @media (min-width: $desktop-width) {
    & h2 {
      &::after {
        width: 230px;
      }

      &::before {
        width: 230px;
      }
    }
  }
}

.form__radio {
  margin-bottom: 20px;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 160px;
  padding: 20px 0 0 20px;

  font-size: 18px;
  font-weight: 700;

  background-color: #f2f3f3;

  &::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
  }
}

.form__sights {
  @media(min-width: $tablet-width) {
    width: 100%;

    & h2 {
      position: relative;

      padding: 48px 120px 0;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 70px;

        display: block;
        width: 130px;
        height: 1px;

        background-color: #e5e5e5;
      }

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 70px;

        display: block;
        width: 130px;
        height: 1px;

        background-color: #e5e5e5;
      }
    }
  }

  @media(min-width: $desktop-width) {

    & h2 {
      margin-bottom: 45px;
      padding: 48px 330px 0;

      &::after {
        width: 230px;
      }

      &::before {
        width: 230px;
      }
    }
  }
}

.form__sights-wrap {
  @media(min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media(min-width: $desktop-width) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.form__submit {
  margin-top: 50px;
  width: 280px;
  height: 58px;

  font-size: 21px;
  font-weight: 700;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;

  &:hover {
    background-color: #669fc2;
  }

  &:active {
    background-color: #5397be;
    color: #87b6d1;
  }

  @media(min-width: $desktop-width) {
    width: 480px;
  }
}

.form__required {
  @media(max-width: $mobile-width-only) {
    display: none;
  }

  @media(min-width: $tablet-width) {
    display: block;

    font-size: 14px;
    text-align: right;
  }
}

.form__wrapper--user {
  display: flex;
  align-items: baseline;

  @media(min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form__wrapper--contacts {
  @media(min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.form__wrapper--contacts div {
  position: relative;

  display: flex;

  &::after {
    content: "";
    position: absolute;
    right: 0;

    display: block;
    width: 58px;
    height: 58px;

    background-color: #e6e6e6;
  }
}

.form__phone {
  &::after {
    background: url("../img/icon-phone.svg") no-repeat center center;
  }
}

.form__email {
  &::after {
    background: url("../img/icon-mail.svg") no-repeat center center;
  }
}

.form__wrapper--impressions {

  & label {
    display: flex;
    align-items: center;
    margin-bottom: 22px;

    font-size: 18px;
    font-weight: 700;
    text-transform: none;
  }

  & input[type=radio]:not(:checked)+label::before {
    content: "";

    display: block;
    width: 56px;
    height: 56px;
    margin-right: 20px;

    background-color: #f2f3f3;
    border-radius: 50px;
  }

  & input[type=radio]:not(:checked)+label:hover::before {
    background-color: #e6e6e6;
  }

  & input[type=radio]:not(:checked)+label:active::before {
    background-color: #d6d6d6;
  }

  & input[type=radio]:checked+label::before {
    content: "";

    display: block;
    width: 22px;
    height: 22px;
    margin-right: 20px;

    background-color: #303030;
    border-radius: 50px;
    border: solid 17px #f2f3f3;
  }

  & input[type=radio]:checked+label:hover::before {
    border: solid 17px #e6e6e6;
  }

  & input[type=radio]:checked+label:active::before {
    background-color: #a3a3a3;
    border: solid 17px #d6d6d6;
  }
}

.form__wrapper--sights {

  & label {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    font-size: 18px;
    font-weight: 700;
    text-transform: none;

    @media(min-width: $tablet-width) {
      width: 210px;
    }
  }

  & input[type=checkbox]:not(:checked)+label::before {
    content: "";

    display: block;
    width: 56px;
    height: 56px;
    margin-right: 25px;

    background-color: #f2f3f3;
    border-radius: 5px;
  }

  & input[type=checkbox]:not(:checked)+label:hover::before {
    background-color: #e6e6e6;
  }

  & input[type=checkbox]:not(:checked)+label:active::before {
    background-color: #d6d6d6;
  }

  & input[type=checkbox]:checked+label::before {
    content: "";

    display: block;
    width: 56px;
    height: 56px;
    margin-right: 25px;

    background: url("/img/icon-tick.svg") no-repeat center center;
    background-color: #f2f3f3;
    border-radius: 5px;
  }

  & input[type=checkbox]:checked+label:hover::before {
    background-color: #e6e6e6;
  }

  & input[type=checkbox]:checked+label:active::before {
    background-color: darken($color: #d6d6d6, $amount: 15%);
    opacity: 0.5;
  }
}

.form__wrapper--submit {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
}
