.header__logo {
  display: block;
  align-self: center;
  margin: 0;
  padding: 0;

  @media(min-width: $tablet-width) {
    position: absolute;
  }
}

.header__logo img {
  width: 102px;
  height: 83px;
}

.header__background {
  z-index: -1;
  display: flex;
  justify-content: center;
  margin-top: -34px;

  background: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;

  @media(min-width: $tablet-width) {
    margin: 0;

    background: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi) {
  .header__background {
    background: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;

    @media(min-width: $tablet-width) {
      background: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: 100% auto;
    }
  }
}

.header__background img {
  width: 282px;
  height: 214px;
  margin-top: 90px;
  margin-bottom: 85px;

  @media(min-width: $tablet-width) {
    width: 460px;
    height: 350px;
    margin-top: 77px;
    margin-bottom: 91px;

  }
}
