.hotel {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
  padding-top: 33px;

  @media (min-width: $tablet-width){
    margin-bottom: 58px;
    padding-top: 57px;
  }
}

.hotel__title {
  margin: 0;
  margin-bottom: 20px;

  font-size: 21px;
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width){
    font-size: 30px;
  }
}

.hotel__desc {
  margin: 0;
  margin-bottom: 40px;
  padding: 0 25px;

  font-size: 14px;
  font-weight: 400;
  text-align: center;

  @media (min-width: $tablet-width){
    padding: 0 160px;
  }
  @media (min-width: $desktop-width){
    margin-bottom: 53px;
    padding: 0 400px;
  }
}

.hotel__btn {
  display: block;
  margin: 0 auto;
  padding: 17px 47px 19px 47px;


  font-size: 21px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;

  background: #82b5d3;

  &:hover {
    background-color: #669fc2;
  }

  &:active {
    background-color: #5397be;
    color: #87b6d1;
  }

  @media (min-width: $tablet-width){
    padding: 17px 136px 19px 136px;
  }
}

