.nav-list {
    margin: 0;
    padding: 0;

    color: white;
    list-style: none;
    text-decoration: none;
}

.nav-list__item {
    box-sizing: content-box;
    padding: 14px 0;
    
    text-align: center;
    text-decoration: none;

    background-color: #82b5d3;
    border-bottom: solid 1px  #6890a8;
    border-top: solid 1px #9bc4dd;
}

.nav-list__item:last-child{
    background: linear-gradient(to top, #6d98b2 0%, #82b5d3 8% );
}

.nav-list__link {
    margin: 0;
    padding: 0;

    font-weight: 700;
    text-decoration: none;

    color: white;
}