.reasons-list {
  margin: 0;
  padding: 0;
}

.reasons-list__item {
  padding-top: 30px;

  background-color: #eeeeef;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: auto;
    padding: 0px;
  }
}

.reasons-list__img {
  @media (min-width: $tablet-width) {
    width: 67%;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    width: 800px;
    height: 256px;
  }
}

.reasons-list__img img {
  @media (min-width: $tablet-width) {
    height: 256px;

    object-fit: cover;
  }
  @media (min-width: $desktop-width) {
    height: 256px;

    object-fit: cover;
  }
}

.reasons-list__item--order {
  @media (min-width: $tablet-width) {
    order: -1;
  }

}

.reasons-list__item--blue-bg {
  color: #ffffff;

  background-color: #82b4d3;

  @media (min-width: $tablet-width) {
    width: 33%;
  }
}

.reasons-list__title {
  margin: 0;

  font-size: 18px;
  text-align: center;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    padding: 30px 50px 10px 50px;

    font-size: 21px;
  }
  @media (min-width: $desktop-width) {
    padding: 53px 120px 10px 120px;

    font-size: 21px;
  }

}

.reasons-list__number {
  margin: 10px 0 0 0;

  font-size: 14px;
  text-align: center;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 10px;
  }
}

.reasons-list__desc {
  margin: 0;
  padding: 10px 0 40px 0;

  font-size: 14px;
  text-align: center;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    padding: 0 35px 30px 35px;
  }
}
.reasons-list__group {
  @media (min-width: $tablet-width) {
    display: flex;
  }


}

@media(max-width: $mobile-width-only) {
  .reasons-list__item--line::after {
    content: "";

    display: block;
    margin: 0 auto;
    width: 85%;
    height: 1px;

    background: #d5d5d6;
  }

  .reasons-list__item:nth-child(2)::after {
    content: "";

    display: block;
    margin: 0 auto;
    width: 85%;
    height: 1px;

    background: #d5d5d6;
  }

  .reasons-list__item--triangle {
    padding-top: 80px;

    background: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    background-color: #82b4d3;
  }
}
