.video {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;

  @media(min-width: $tablet-width){
    padding: 0 60px;
    margin-bottom: 76px;
  }

  @media(min-width: $desktop-width){
    width: 800px;
    margin: 0 auto;
    margin-bottom: 121px;
  }
}

.video__title {
  margin: 39px 0 45px;

  text-align: center;
  font-size: 18px;
  font-weight: 700;

  @media(min-width: $tablet-width){
    margin: 68px 0 35px;

    font-size: 30px;
  }

  @media(min-width: $desktop-width){
    margin: 72px 0 35px;

  }
}

.video__desc {
  margin: 0 0 40px;
  padding: 0 40px;

  text-align: center;
  font-size: 14px;

  @media(min-width: $tablet-width){
    margin: 0 auto 75px;
    width: 420px;
  }
}
